/*********FONTS**********/

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?sonpur');
	src: url('../fonts/icomoon.eot?sonpur#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?sonpur') format('truetype'), url('../fonts/icomoon.woff?sonpur') format('woff'), url('../fonts/icomoon.svg?sonpur#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reserva:before {
	content: "\e900";
}

.icon-pago:before {
	content: "\e901";
}

.icon-gracias:before {
	content: "\e902";
}


/*********FONTS**********/


/*******GENERALES*******/

html {
	font-size: 14px;
}

main#principal input[type="text"],
main#principal input[type="number"],
main#principal input[type="email"],
main#principal select {
	border: 1px solid #C59614;
	padding: .3rem .5rem;
	width: 100%;
}

main#principal input[type="radio"],
main#principal input[type="checkbox"] {
	margin: 0;
	margin-right: 8px;
}

main#principal button.botonDorado,
main#principal input[type="submit"] {
	background: #C59614;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	color: white;
	margin: 1.4rem 0;
	padding: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all .5s ease;
}

main#principal button.botonDorado:hover,
main#principal input[type="submit"]:hover {
	background: #A87E14
}

main#principal label {
	display: block;
}

main#principal h1,
main#principal h2,
main#principal h3,
main#principal h4 {
	margin: 0;
	padding: 0;
}

main#principal h3 {
	margin-bottom: 1.4rem;
	text-transform: none;
}

main#principal hgroup.titulosGenerales {
	margin-top: 1.4rem;
}

main#principal hgroup.titulosGenerales h1 {
	color: #313035;
	font-size: 2rem;
	text-transform: uppercase;
}

main#principal hgroup.titulosGenerales h1 {
	color: #313035;
	font-size: 2rem;
	text-transform: uppercase;
}

main#principal hgroup.titulosGenerales h2 {
	color: #C59614;
	font-size: 1.4rem;
	text-transform: uppercase;
}

main#principal hr {
	margin: 1.4rem 0;
}

main#principal .row.formElement div[class^="col-"] {
	margin-bottom: 1rem;
}

main#principal .info {
	background-color: #C59614;
	cursor: pointer;
	padding: 10px;
	position: relative;
	border-radius: 50%;
	margin-bottom: 5px;
}

main#principal .info span {
	color: white;
	position: absolute;
	font-weight: bold;
	top: 0;
	left: 35%;
}

main#principal hr {
	margin: 1.4rem 0;
}

main#principal .row.formElement div[class^="col-"] {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

main#principal .row.formElement div[class^="col-"] input {
	align-self: baseline;
}

main#principal .multipleLine {
	align-items: flex-end;
	display: flex;
}

main#principal .multipleLine input,
main#principal .multipleLine select {
	margin-right: 10px;
	flex-grow: 1;
	width: 45%;
}

main#principal .multipleLine input:last-child,
main#principal .multipleLine select:last-child {
	margin-right: 0;
}

main#principal .row.formElement div[class^="col-"].radioLine {
	flex-direction: row;
}

>>>>>>>origin/master
/*******END GENERALES*******/


/***PASOS****/

#pasos {
	margin-top: 3rem;
}

#pasos ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

#pasos ul li {
	border-left: 1px solid #9B9B9B;
	color: #9B9B9B;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

#pasos ul li:first-child {
	border-left: none;
}

#pasos ul li.active {
	color: #C59614
}

#pasos ul li>span {
	font-size: 3.6rem;
}

#pasos ul li.active>a,
#pasos ul li.active>a:focus,
#pasos ul li.active>a:hover {
	background: transparent;
	color: #9B9B9B;
}


/***END PASOS****/


/***PAGOS***/

#pago .filaLogos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#pago .filaLogos img {
	cursor: pointer;
	margin: 10px 40px;
	filter: grayscale(100%);
	transition: all .5s ease;
}

#pago .filaLogos img:hover,
#pago .filaLogos img.active {
	filter: grayscale(0);
}

#pago .formContinuar {
	margin-top: 20px;
}

#pago .tipoDePago {
	margin-bottom: 2rem;
}

#pago .tipoDePago h3 {
	text-transform: uppercase;
}

#pago .tipoDePago input[type="radio"] {
	height: 1.8rem;
	width: 1.8rem;
}

#pago .tipoDePago label {
	font-family: 'Montserrat', sans-serif;
	display: inline;
	margin-bottom: 0;
}

#pago .tipoDePago .col-xs-6 p {
	margin-top: 1rem;
}

#pago .tipoDePago .col-xs-6:last-child {
	border-left: 1px solid #313035
}

#pago .tipoDePago .radioElige {
	display: flex;
	align-items: center;
}

#pago .monto {
	color: #C59614;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

#pago .monto small {
	text-transform: uppercase;
	font-size: 1.2rem
}

#pago .tabsFormaDePago {
	border-bottom: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

#pago .tabsFormaDePago li {
	border: 0;
	border-radius: 0;
	flex-grow: 1;
	text-align: center;
}

#pago .tabsFormaDePago>li>a {
	background: #313035;
	border: 0;
	border-radius: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 0;
	padding-bottom: .1rem;
	padding-top: .1rem;
}

#pago .tabsFormaDePago>li>a:hover {
	background: #C59614;
	border: none;
}

#pago .tabsFormaDePago>li.active>a,
#pago tabsFormaDePago>li.active>a:focus,
#pago .tabsFormaDePago>li.active>a:hover {
	border: none;
	border-radius: 0;
	background: #C59614;
}


/***END - PAGOS***/


/****DETALLE RESERVA****/

#detalleReserva .tituloDetalle h3 {
	background: #CCCCCC;
	color: #C59614;
	font-size: 1.2rem;
	letter-spacing: 2px;
	margin-bottom: 0;
	padding: .8rem;
	text-transform: uppercase;
}

#detalleReserva .precios {
	display: flex;
	justify-content: space-between;
}

#detalleReserva .precios p {
	background: #CCCCCC;
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
	padding: .6rem 1rem;
	text-transform: uppercase;
	flex-grow: 1;
	line-height: 1;
}

#detalleReserva .precios p:last-child {
	text-align: right;
}

#detalleReserva .precios.preciosTotal p {
	background: #C59614;
	font-size: 1.2rem;
	padding: 1rem;
	text-transform: none;
}

#detalleReserva .incluye h4 {
	border: 1px solid #C59614;
	border-bottom: 0;
	color: #C59614;
	padding: 1.2rem 1rem;
}

#detalleReserva .incluye ul {
	list-style-position: inside;
	padding: .8rem 1rem;
	width: 100%;
	border: 1px solid #C59614;
	border-top: 0;
}

#detalleReserva .incluye li {
	margin-bottom: .7rem;
}


/****END - DETALLE RESERVA****/


/****MODAL****/

#ModalBody {
	padding: 30px;
}

#ModalBody h5 {
	padding-left: 15px;
}

#ModalBody h1 {
	margin: 0;
}

#ModalBody h4 {
	margin: 0px;
	color: #c59614;
	font-size: 16px;
	letter-spacing: 2px;
}

#ModalBody hr {
	width: 100%;
	color: #313035;
	border: solid 1px;
}

#ModalBody h5 {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

#ModalBody .fa.fa-calendar-o {
	position: absolute;
	left: 25px;
	top: 35px;
	color: #c59614;
}

#ModalForm {
	margin-bottom: 30px;
}

.ModalForm input,
select {
	border: 1px solid #C59614;
	padding: .3rem .5rem;
	width: 100%;
}

.ModalForm p {
	margin: 0;
	font-size: 12px;
	color: #87868a;
	font-style: italic;
	padding-left: 15px;
}

main#principal .radioElige input[type="radio"] {
	height: 1.4rem;
	width: 1.4rem;
}

.ModalForm input[type="date"] {
	padding-left: 2rem;
}

.radioElige {
	display: flex;
	align-items: center;
}


/****END MODAL****/


/****THANK YOU****/

.texto-gracias {
	margin-top: 30px;
}

.texto-gracias h2 {
	margin: 0;
	color: #c59614;
	font-size: 40px;
}

.back-thankyou {
	background-image: url('../img/back-thankyou.png');
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 60px;
	margin-top: 80px;
}

.texto-thankyou {
	margin-top: 30px;
}

.texto-thankyou p {
	margin: 0;
	font-size: 1rem;
	color: #313035;
	font-weight: 700;
	margin-bottom: 50px;
}

#confirmacion {
	margin: 0;
	margin-top: -25px;
	margin-bottom: -25px;
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: 1px;
	text-align: center;
}

#hr-top {
	margin-bottom: -10px;
}

#hr-down {
	margin-top: 0px;
}

#boton-fb {
	transition: .5s;
}

.texto-facebook p {
	margin: 0;
	font-size: 1rem;
	color: #313035;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 10px;
}

.texto-facebook label {
		margin: 0;
	margin-bottom: 5px;
	font-size: 1rem;
	color: #313035;
	font-weight: 700;
}

.texto-facebook input {
	margin: 0;
	font-size: .8rem;
	color: #c59614;
	font-style: italic;
}

.texto-gracias h2:before,
.general h2:before,
.general h1:before {
	content: url(../img/left.png);
	left: 160px;
	position: absolute;
	top: -30px;
}

.texto-gracias h2:after,
.general h2:after,
.general h1:after {
	content: url(../img/right.png);
	position: absolute;
	right: 160px;
	top: -30px;
}




/****THANK YOU****/

@media screen and (min-width:768px) {
	/*******GENERALES*******/
	html {
		font-size: 18px;
	}
	main#principal button.botonDorado,
	main#principal input[type="submit"] {
		width: 25%;
		float: right;
	}
	main#principal button.botonDorado,
	main#principal input[type="submit"] {
		width: 25%;
		float: right;
	}
	main#principal button.botonDorado.completo,
	main#principal input[type="submit"].completo {
		width: 100%;
	}
	/*******END - GENERALES*******/
	/***PASOS****/
	#pasos {
		margin-top: 7rem;
	}
	/***END PASOS****/
	/***THANK YOU***/

	/***THNAK YOU***/
}
